flow_defs/DetectTable.json
{"flowContents":{"identifier":"6e325418-4e59-35f3-8a9f-54920629f995","instanceIdentifier":"53c690ef-0195-1000-9825-4d352ee1eb7d","name":"DetectTable","comments":"","position":{"x":-360.0,"y":32.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ee826d5e-3b14-31c0-b8a9-7ab5090e76bb","instanceIdentifier":"68082d01-a7bb-3112-eacb-6e5e78261fc5","name":"PutFile","comments":"","position":{"x":406.0,"y":289.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0-SNAPSHOT"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/Users/bob/table-img-out","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6e325418-4e59-35f3-8a9f-54920629f995"},{"identifier":"32265f26-06a9-3e57-abde-01b57db2ba30","instanceIdentifier":"53c730d8-0195-1000-061a-52cdb5bfda2b","name":"TableDetectionProcessor","comments":"","position":{"x":-200.0,"y":48.0},"type":"TableDetectionProcessor","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{"Output Type":"annotations","Table Model Name":"microsoft/table-transformer-structure-recognition-v1.1-all"},"propertyDescriptors":{"Output Type":{"name":"Output Type","displayName":"Output Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Model Name":{"name":"Table Model Name","displayName":"Table Model Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6e325418-4e59-35f3-8a9f-54920629f995"},{"identifier":"50dfe6d9-7b35-3852-8237-276060371611","instanceIdentifier":"25e1140c-1278-3847-8b74-ab804b205f07","name":"JSLTTransformJSON","comments":"","position":{"x":-192.0,"y":216.0},"type":"org.apache.nifi.processors.jslt.JSLTTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jslt-nar","version":"2.3.0-SNAPSHOT"},"properties":{"jslt-transform-pretty_print":"false","jslt-transform-result-filter":". != null and . != {} and . != []","jslt-transform-transformation":"{\n \"filename\": .images[0].file_name,\n \"annotations\": .annotations\n}","jslt-transform-cache-size":"1","jslt-transform-transformation-strategy":"ENTIRE_FLOWFILE"},"propertyDescriptors":{"jslt-transform-pretty_print":{"name":"jslt-transform-pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-result-filter":{"name":"jslt-transform-result-filter","displayName":"Transform Result Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation":{"name":"jslt-transform-transformation","displayName":"JSLT Transformation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jslt-transform-cache-size":{"name":"jslt-transform-cache-size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation-strategy":{"name":"jslt-transform-transformation-strategy","displayName":"Transformation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6e325418-4e59-35f3-8a9f-54920629f995"},{"identifier":"8e2fea96-fb84-346d-ae0c-b34a3a4f9f40","instanceIdentifier":"018b7065-3fc7-3d1b-6fb6-eaca95d9ac74","name":"PutElasticsearchRecord","comments":"","position":{"x":-184.0,"y":384.0},"type":"org.apache.nifi.processors.elasticsearch.PutElasticsearchRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-restapi-nar","version":"2.3.0-SNAPSHOT"},"properties":{"Max JSON Field String Length":"20 MB","put-es-record-at-timestamp-time-format":null,"put-es-record-batch-size":"100","put-es-record-scripted-upsert-path":null,"put-es-record-index-op":"index","put-es-record-type-record-path":null,"put-es-record-at-timestamp-date-format":null,"put-es-output-error-responses":"false","put-es-record-dynamic-templates-path":null,"el-rest-client-service":"97544c4d-0859-3734-aba3-950378e59092","put-es-record-log-error-responses":"false","put-es-not_found-is-error":"true","put-es-record-error-writer":"cd5b2003-6737-3d89-9cb0-777ce37fb397","put-es-record-at-timestamp-timestamp-format":null,"put-es-record-id-path":null,"put-es-record-retain-at-timestamp-field":"false","el-rest-fetch-index":"coco-index","put-es-record-index-op-path":null,"put-es-record-retain-id-field":"false","put-es-record-script-path":null,"el-rest-type":null,"put-es-record-at-timestamp":null,"put-es-record-index-record-path":null,"put-es-record-at-timestamp-path":null,"put-es-record-reader":"933e48dd-1251-3e66-87b4-0510de26b3ec","put-es-record-bulk-error-groups":"false"},"propertyDescriptors":{"Max JSON Field String Length":{"name":"Max JSON Field String Length","displayName":"Max JSON Field String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-at-timestamp-time-format":{"name":"put-es-record-at-timestamp-time-format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-batch-size":{"name":"put-es-record-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-scripted-upsert-path":{"name":"put-es-record-scripted-upsert-path","displayName":"Scripted Upsert Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-index-op":{"name":"put-es-record-index-op","displayName":"Index Operation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-type-record-path":{"name":"put-es-record-type-record-path","displayName":"Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-at-timestamp-date-format":{"name":"put-es-record-at-timestamp-date-format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-output-error-responses":{"name":"put-es-output-error-responses","displayName":"Output Error Responses","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-dynamic-templates-path":{"name":"put-es-record-dynamic-templates-path","displayName":"Dynamic Templates Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-client-service":{"name":"el-rest-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-es-record-log-error-responses":{"name":"put-es-record-log-error-responses","displayName":"Log Error Responses","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-not_found-is-error":{"name":"put-es-not_found-is-error","displayName":"Treat \"Not Found\" as Success","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-error-writer":{"name":"put-es-record-error-writer","displayName":"Result Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-es-record-at-timestamp-timestamp-format":{"name":"put-es-record-at-timestamp-timestamp-format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-id-path":{"name":"put-es-record-id-path","displayName":"ID Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-retain-at-timestamp-field":{"name":"put-es-record-retain-at-timestamp-field","displayName":"Retain @timestamp (Record Path)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-fetch-index":{"name":"el-rest-fetch-index","displayName":"Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-index-op-path":{"name":"put-es-record-index-op-path","displayName":"Index Operation Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-retain-id-field":{"name":"put-es-record-retain-id-field","displayName":"Retain ID (Record Path)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-script-path":{"name":"put-es-record-script-path","displayName":"Script Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-type":{"name":"el-rest-type","displayName":"Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-at-timestamp":{"name":"put-es-record-at-timestamp","displayName":"@timestamp Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-index-record-path":{"name":"put-es-record-index-record-path","displayName":"Index Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-at-timestamp-path":{"name":"put-es-record-at-timestamp-path","displayName":"@timestamp Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-reader":{"name":"put-es-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-es-record-bulk-error-groups":{"name":"put-es-record-bulk-error-groups","displayName":"Group Results by Bulk Error Type","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","successful"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6e325418-4e59-35f3-8a9f-54920629f995"},{"identifier":"9f3d6e4e-4bfd-31e5-ad5e-b7778b7a2c3b","instanceIdentifier":"48afad59-c6a0-3160-f889-6ff4a12079c5","name":"GetFile","comments":"","position":{"x":-200.0,"y":-128.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0-SNAPSHOT"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/Users/bob/table-img-in","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6e325418-4e59-35f3-8a9f-54920629f995"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"089b5916-09d6-3498-85e7-320c27512acd","instanceIdentifier":"53c78579-0195-1000-136f-50fab27a8b5c","name":"","source":{"id":"9f3d6e4e-4bfd-31e5-ad5e-b7778b7a2c3b","type":"PROCESSOR","groupId":"6e325418-4e59-35f3-8a9f-54920629f995","name":"GetFile","comments":"","instanceIdentifier":"48afad59-c6a0-3160-f889-6ff4a12079c5"},"destination":{"id":"32265f26-06a9-3e57-abde-01b57db2ba30","type":"PROCESSOR","groupId":"6e325418-4e59-35f3-8a9f-54920629f995","name":"TableDetectionProcessor","comments":"","instanceIdentifier":"53c730d8-0195-1000-061a-52cdb5bfda2b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6e325418-4e59-35f3-8a9f-54920629f995"},{"identifier":"29051b9b-877d-3bcd-941d-e271912a98cc","instanceIdentifier":"53ea3c65-0195-1000-e961-9c6224dc37bc","name":"","source":{"id":"8e2fea96-fb84-346d-ae0c-b34a3a4f9f40","type":"PROCESSOR","groupId":"6e325418-4e59-35f3-8a9f-54920629f995","name":"PutElasticsearchRecord","comments":"","instanceIdentifier":"018b7065-3fc7-3d1b-6fb6-eaca95d9ac74"},"destination":{"id":"8e2fea96-fb84-346d-ae0c-b34a3a4f9f40","type":"PROCESSOR","groupId":"6e325418-4e59-35f3-8a9f-54920629f995","name":"PutElasticsearchRecord","comments":"","instanceIdentifier":"018b7065-3fc7-3d1b-6fb6-eaca95d9ac74"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","errors","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":285.0,"y":423.0},{"x":285.0,"y":473.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6e325418-4e59-35f3-8a9f-54920629f995"},{"identifier":"e54f8d28-9db7-35e5-a53d-44f3c81a82ce","instanceIdentifier":"53c7a72a-0195-1000-d139-6e5c87378ffe","name":"","source":{"id":"32265f26-06a9-3e57-abde-01b57db2ba30","type":"PROCESSOR","groupId":"6e325418-4e59-35f3-8a9f-54920629f995","name":"TableDetectionProcessor","comments":"","instanceIdentifier":"53c730d8-0195-1000-061a-52cdb5bfda2b"},"destination":{"id":"ee826d5e-3b14-31c0-b8a9-7ab5090e76bb","type":"PROCESSOR","groupId":"6e325418-4e59-35f3-8a9f-54920629f995","name":"PutFile","comments":"","instanceIdentifier":"68082d01-a7bb-3112-eacb-6e5e78261fc5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["annotated"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6e325418-4e59-35f3-8a9f-54920629f995"},{"identifier":"30bf684c-7c9f-3634-8725-8536f08e63df","instanceIdentifier":"53c7949a-0195-1000-d9c3-107db51fc4c8","name":"","source":{"id":"32265f26-06a9-3e57-abde-01b57db2ba30","type":"PROCESSOR","groupId":"6e325418-4e59-35f3-8a9f-54920629f995","name":"TableDetectionProcessor","comments":"","instanceIdentifier":"53c730d8-0195-1000-061a-52cdb5bfda2b"},"destination":{"id":"50dfe6d9-7b35-3852-8237-276060371611","type":"PROCESSOR","groupId":"6e325418-4e59-35f3-8a9f-54920629f995","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"25e1140c-1278-3847-8b74-ab804b205f07"},"labelIndex":0,"zIndex":0,"selectedRelationships":["coco"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6e325418-4e59-35f3-8a9f-54920629f995"},{"identifier":"cdad8b52-f213-3f7e-ab56-0737f877d59d","instanceIdentifier":"693f4cbd-74d9-38f5-d4ad-e6b7135b076e","name":"","source":{"id":"50dfe6d9-7b35-3852-8237-276060371611","type":"PROCESSOR","groupId":"6e325418-4e59-35f3-8a9f-54920629f995","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"25e1140c-1278-3847-8b74-ab804b205f07"},"destination":{"id":"8e2fea96-fb84-346d-ae0c-b34a3a4f9f40","type":"PROCESSOR","groupId":"6e325418-4e59-35f3-8a9f-54920629f995","name":"PutElasticsearchRecord","comments":"","instanceIdentifier":"018b7065-3fc7-3d1b-6fb6-eaca95d9ac74"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6e325418-4e59-35f3-8a9f-54920629f995"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"97544c4d-0859-3734-aba3-950378e59092","instanceIdentifier":"a22bcf44-6556-3f7c-1eb5-421abd77f58f","name":"ElasticSearchClientServiceImpl","comments":"","type":"org.apache.nifi.elasticsearch.ElasticSearchClientServiceImpl","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-client-service-nar","version":"2.3.0-SNAPSHOT"},"properties":{"el-cs-suppress-nulls":"always-suppress","el-cs-strict-deprecation":"false","el-cs-http-hosts":"http://localhost:9200","el-cs-path-prefix":null,"el-cs-run-as-user":null,"proxy-configuration-service":null,"el-cs-charset":"UTF-8","api-key-id":null,"el-cs-send-meta-header":"true","el-cs-username":null,"el-cs-enable-compression":"false","el-cs-sniff-cluster-nodes":"false","el-cs-sniffer-interval":"5 mins","el-cs-sniffer-failure-delay":"1 min","el-cs-node-selector":"ANY","authorization-scheme":"NONE","el-cs-sniff-failure":"false","el-cs-sniffer-request-timeout":"1 sec","el-cs-connect-timeout":"5000","el-cs-socket-timeout":"60000","el-cs-ssl-context-service":null,"el-cs-oauth2-token-provider":null},"propertyDescriptors":{"el-cs-suppress-nulls":{"name":"el-cs-suppress-nulls","displayName":"Suppress Null/Empty Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-strict-deprecation":{"name":"el-cs-strict-deprecation","displayName":"Strict Deprecation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-http-hosts":{"name":"el-cs-http-hosts","displayName":"HTTP Hosts","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-run-as-user":{"name":"el-cs-run-as-user","displayName":"Run As User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"el-cs-charset":{"name":"el-cs-charset","displayName":"Charset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jwt-shared-secret":{"name":"jwt-shared-secret","displayName":"JWT Shared Secret","identifiesControllerService":false,"sensitive":true,"dynamic":false},"el-cs-send-meta-header":{"name":"el-cs-send-meta-header","displayName":"Send Meta Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-username":{"name":"el-cs-username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-enable-compression":{"name":"el-cs-enable-compression","displayName":"Enable Compression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniff-cluster-nodes":{"name":"el-cs-sniff-cluster-nodes","displayName":"Sniff Cluster Nodes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"api-key":{"name":"api-key","displayName":"API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"el-cs-node-selector":{"name":"el-cs-node-selector","displayName":"Node Selector","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniff-failure":{"name":"el-cs-sniff-failure","displayName":"Sniff on Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-request-timeout":{"name":"el-cs-sniffer-request-timeout","displayName":"Sniffer Request Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-ssl-context-service":{"name":"el-cs-ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"el-cs-oauth2-token-provider":{"name":"el-cs-oauth2-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"el-cs-path-prefix":{"name":"el-cs-path-prefix","displayName":"Path Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"api-key-id":{"name":"api-key-id","displayName":"API Key ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-interval":{"name":"el-cs-sniffer-interval","displayName":"Sniffer Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-failure-delay":{"name":"el-cs-sniffer-failure-delay","displayName":"Sniffer Failure Delay","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-password":{"name":"el-cs-password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"authorization-scheme":{"name":"authorization-scheme","displayName":"Authorization Scheme","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-connect-timeout":{"name":"el-cs-connect-timeout","displayName":"Connect timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-socket-timeout":{"name":"el-cs-socket-timeout","displayName":"Read timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.elasticsearch.ElasticSearchClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-client-service-api-nar","version":"2.3.0-SNAPSHOT"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6e325418-4e59-35f3-8a9f-54920629f995"},{"identifier":"cd5b2003-6737-3d89-9cb0-777ce37fb397","instanceIdentifier":"1c08ae38-12c1-3dbc-52dc-b46450c65540","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0-SNAPSHOT"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0-SNAPSHOT"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6e325418-4e59-35f3-8a9f-54920629f995"},{"identifier":"933e48dd-1251-3e66-87b4-0510de26b3ec","instanceIdentifier":"5af3dc2e-0c47-3a92-e89c-3132320e3a00","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0-SNAPSHOT"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0-SNAPSHOT"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6e325418-4e59-35f3-8a9f-54920629f995"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}