flow_defs/NiFiJava.json
{"flowContents":{"identifier":"fff20ab6-d810-30f1-ad97-fc1e10f4fdd5","instanceIdentifier":"0ca15079-0192-1000-5a8c-3ef2b44d060e","name":"NiFiJava","comments":"","position":{"x":-57.0,"y":-271.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"7015150e-f229-3bd0-9641-ce2e7e12b6b1","instanceIdentifier":"76872272-0192-1000-72a5-50285c68ef12","name":"IdentifyMimeType","comments":"","position":{"x":-296.0,"y":-112.0},"type":"org.apache.nifi.processors.standard.IdentifyMimeType","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"config-file":null,"config-strategy":"Preset","use-filename-in-detection":"true","config-body":""},"propertyDescriptors":{"config-file":{"name":"config-file","displayName":"Config File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"config-strategy":{"name":"config-strategy","displayName":"Config Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-filename-in-detection":{"name":"use-filename-in-detection","displayName":"Use Filename In Detection","identifiesControllerService":false,"sensitive":false,"dynamic":false},"config-body":{"name":"config-body","displayName":"Config Body","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fff20ab6-d810-30f1-ad97-fc1e10f4fdd5"},{"identifier":"3d66025f-1f17-3c5a-acc1-e5b022ca4a0b","instanceIdentifier":"0ca5070b-0192-1000-3974-8dbba38cb7d2","name":"PutElasticsearchRecord","comments":"","position":{"x":-296.0,"y":72.0},"type":"org.apache.nifi.processors.elasticsearch.PutElasticsearchRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-restapi-nar","version":"2.0.0-M4"},"properties":{"Max JSON Field String Length":"20 MB","put-es-record-at-timestamp-time-format":null,"put-es-record-batch-size":"100","put-es-record-scripted-upsert-path":null,"put-es-record-index-op":"index","put-es-record-type-record-path":null,"put-es-record-at-timestamp-date-format":null,"put-es-output-error-responses":"false","put-es-record-dynamic-templates-path":null,"el-rest-client-service":"e83127aa-7545-3413-a29e-eab56ca661ac","put-es-record-log-error-responses":"false","put-es-not_found-is-error":"true","put-es-record-error-writer":"794d8dc2-842c-3f2c-86a7-bccec00c12c8","put-es-record-at-timestamp-timestamp-format":null,"put-es-record-id-path":null,"put-es-record-retain-at-timestamp-field":"false","el-rest-fetch-index":"csv-index","put-es-record-index-op-path":null,"put-es-record-retain-id-field":"false","put-es-record-script-path":null,"el-rest-type":null,"put-es-record-at-timestamp":null,"put-es-record-index-record-path":null,"put-es-record-at-timestamp-path":null,"put-es-record-reader":"8033ba0f-8370-37a0-b36e-c0ac761bd7c1","put-es-record-bulk-error-groups":"false"},"propertyDescriptors":{"Max JSON Field String Length":{"name":"Max JSON Field String Length","displayName":"Max JSON Field String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-at-timestamp-time-format":{"name":"put-es-record-at-timestamp-time-format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-batch-size":{"name":"put-es-record-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-scripted-upsert-path":{"name":"put-es-record-scripted-upsert-path","displayName":"Scripted Upsert Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-index-op":{"name":"put-es-record-index-op","displayName":"Index Operation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-type-record-path":{"name":"put-es-record-type-record-path","displayName":"Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-at-timestamp-date-format":{"name":"put-es-record-at-timestamp-date-format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-output-error-responses":{"name":"put-es-output-error-responses","displayName":"Output Error Responses","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-dynamic-templates-path":{"name":"put-es-record-dynamic-templates-path","displayName":"Dynamic Templates Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-client-service":{"name":"el-rest-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-es-record-log-error-responses":{"name":"put-es-record-log-error-responses","displayName":"Log Error Responses","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-not_found-is-error":{"name":"put-es-not_found-is-error","displayName":"Treat \"Not Found\" as Success","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-error-writer":{"name":"put-es-record-error-writer","displayName":"Result Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-es-record-at-timestamp-timestamp-format":{"name":"put-es-record-at-timestamp-timestamp-format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-id-path":{"name":"put-es-record-id-path","displayName":"ID Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-retain-at-timestamp-field":{"name":"put-es-record-retain-at-timestamp-field","displayName":"Retain @timestamp (Record Path)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-fetch-index":{"name":"el-rest-fetch-index","displayName":"Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-index-op-path":{"name":"put-es-record-index-op-path","displayName":"Index Operation Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-retain-id-field":{"name":"put-es-record-retain-id-field","displayName":"Retain ID (Record Path)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-script-path":{"name":"put-es-record-script-path","displayName":"Script Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-type":{"name":"el-rest-type","displayName":"Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-at-timestamp":{"name":"put-es-record-at-timestamp","displayName":"@timestamp Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-index-record-path":{"name":"put-es-record-index-record-path","displayName":"Index Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-at-timestamp-path":{"name":"put-es-record-at-timestamp-path","displayName":"@timestamp Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-reader":{"name":"put-es-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-es-record-bulk-error-groups":{"name":"put-es-record-bulk-error-groups","displayName":"Group Results by Bulk Error Type","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","retry","successful"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fff20ab6-d810-30f1-ad97-fc1e10f4fdd5"},{"identifier":"1ce96448-262f-3596-ab2e-5f93856e128c","instanceIdentifier":"0ca30c18-0192-1000-d4c5-e32c77f58974","name":"InvokeHTTP","comments":"","position":{"x":-304.0,"y":-296.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://data.cityofchicago.org/resource/xzkq-xp2w.csv","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"URL_PATH","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fff20ab6-d810-30f1-ad97-fc1e10f4fdd5"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"caa1bfc0-def1-3e1d-8f1a-8df2e1e28d3f","instanceIdentifier":"768768ba-0192-1000-daed-c1ecaed5037e","name":"","source":{"id":"1ce96448-262f-3596-ab2e-5f93856e128c","type":"PROCESSOR","groupId":"fff20ab6-d810-30f1-ad97-fc1e10f4fdd5","name":"InvokeHTTP","comments":"","instanceIdentifier":"0ca30c18-0192-1000-d4c5-e32c77f58974"},"destination":{"id":"7015150e-f229-3bd0-9641-ce2e7e12b6b1","type":"PROCESSOR","groupId":"fff20ab6-d810-30f1-ad97-fc1e10f4fdd5","name":"IdentifyMimeType","comments":"","instanceIdentifier":"76872272-0192-1000-72a5-50285c68ef12"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fff20ab6-d810-30f1-ad97-fc1e10f4fdd5"},{"identifier":"b53edbd7-22b1-39b9-b257-8a9420ff1362","instanceIdentifier":"7689cbd9-0192-1000-f798-9394dd05d1d8","name":"","source":{"id":"1ce96448-262f-3596-ab2e-5f93856e128c","type":"PROCESSOR","groupId":"fff20ab6-d810-30f1-ad97-fc1e10f4fdd5","name":"InvokeHTTP","comments":"","instanceIdentifier":"0ca30c18-0192-1000-d4c5-e32c77f58974"},"destination":{"id":"b553cbee-413c-343a-ba98-6ec5b4f72e26","type":"FUNNEL","groupId":"fff20ab6-d810-30f1-ad97-fc1e10f4fdd5","name":"Funnel","comments":"","instanceIdentifier":"76898d4e-0192-1000-1ddc-9c17b7b984f4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":504.0,"y":-232.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fff20ab6-d810-30f1-ad97-fc1e10f4fdd5"},{"identifier":"28b73c17-fa97-33ab-859b-c922287d5b8c","instanceIdentifier":"768775b6-0192-1000-8a52-65936e1837ad","name":"","source":{"id":"7015150e-f229-3bd0-9641-ce2e7e12b6b1","type":"PROCESSOR","groupId":"fff20ab6-d810-30f1-ad97-fc1e10f4fdd5","name":"IdentifyMimeType","comments":"","instanceIdentifier":"76872272-0192-1000-72a5-50285c68ef12"},"destination":{"id":"3d66025f-1f17-3c5a-acc1-e5b022ca4a0b","type":"PROCESSOR","groupId":"fff20ab6-d810-30f1-ad97-fc1e10f4fdd5","name":"PutElasticsearchRecord","comments":"","instanceIdentifier":"0ca5070b-0192-1000-3974-8dbba38cb7d2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fff20ab6-d810-30f1-ad97-fc1e10f4fdd5"},{"identifier":"1ebfcb23-c9e5-3eb6-b522-6be039e74ac8","instanceIdentifier":"768a15a9-0192-1000-0e6e-7f9e1103a89f","name":"","source":{"id":"3d66025f-1f17-3c5a-acc1-e5b022ca4a0b","type":"PROCESSOR","groupId":"fff20ab6-d810-30f1-ad97-fc1e10f4fdd5","name":"PutElasticsearchRecord","comments":"","instanceIdentifier":"0ca5070b-0192-1000-3974-8dbba38cb7d2"},"destination":{"id":"b553cbee-413c-343a-ba98-6ec5b4f72e26","type":"FUNNEL","groupId":"fff20ab6-d810-30f1-ad97-fc1e10f4fdd5","name":"Funnel","comments":"","instanceIdentifier":"76898d4e-0192-1000-1ddc-9c17b7b984f4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","errors"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":504.0,"y":136.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fff20ab6-d810-30f1-ad97-fc1e10f4fdd5"}],"labels":[],"funnels":[{"identifier":"b553cbee-413c-343a-ba98-6ec5b4f72e26","instanceIdentifier":"76898d4e-0192-1000-1ddc-9c17b7b984f4","position":{"x":480.0,"y":8.0},"componentType":"FUNNEL","groupIdentifier":"fff20ab6-d810-30f1-ad97-fc1e10f4fdd5"}],"controllerServices":[{"identifier":"e83127aa-7545-3413-a29e-eab56ca661ac","instanceIdentifier":"0ca78312-0192-1000-89fa-707dd4a762cd","name":"ElasticSearchClientServiceImpl","comments":"","type":"org.apache.nifi.elasticsearch.ElasticSearchClientServiceImpl","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-client-service-nar","version":"2.0.0-M4"},"properties":{"el-cs-suppress-nulls":"always-suppress","el-cs-strict-deprecation":"false","el-cs-http-hosts":"http://localhost:9200","el-cs-path-prefix":null,"proxy-configuration-service":null,"el-cs-charset":"UTF-8","api-key-id":null,"el-cs-send-meta-header":"true","el-cs-username":null,"el-cs-enable-compression":"false","el-cs-sniff-cluster-nodes":"false","el-cs-sniffer-interval":"5 mins","el-cs-sniffer-failure-delay":"1 min","el-cs-node-selector":"ANY","authorization-scheme":"NONE","el-cs-sniff-failure":"false","el-cs-sniffer-request-timeout":"1 sec","el-cs-connect-timeout":"5000","el-cs-socket-timeout":"60000","el-cs-ssl-context-service":null},"propertyDescriptors":{"el-cs-suppress-nulls":{"name":"el-cs-suppress-nulls","displayName":"Suppress Null/Empty Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-strict-deprecation":{"name":"el-cs-strict-deprecation","displayName":"Strict Deprecation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-http-hosts":{"name":"el-cs-http-hosts","displayName":"HTTP Hosts","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-path-prefix":{"name":"el-cs-path-prefix","displayName":"Path Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"el-cs-charset":{"name":"el-cs-charset","displayName":"Charset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"api-key-id":{"name":"api-key-id","displayName":"API Key ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-send-meta-header":{"name":"el-cs-send-meta-header","displayName":"Send Meta Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-username":{"name":"el-cs-username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-enable-compression":{"name":"el-cs-enable-compression","displayName":"Enable Compression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniff-cluster-nodes":{"name":"el-cs-sniff-cluster-nodes","displayName":"Sniff Cluster Nodes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-interval":{"name":"el-cs-sniffer-interval","displayName":"Sniffer Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-failure-delay":{"name":"el-cs-sniffer-failure-delay","displayName":"Sniffer Failure Delay","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-password":{"name":"el-cs-password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"api-key":{"name":"api-key","displayName":"API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"el-cs-node-selector":{"name":"el-cs-node-selector","displayName":"Node Selector","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-scheme":{"name":"authorization-scheme","displayName":"Authorization Scheme","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniff-failure":{"name":"el-cs-sniff-failure","displayName":"Sniff on Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-request-timeout":{"name":"el-cs-sniffer-request-timeout","displayName":"Sniffer Request Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-connect-timeout":{"name":"el-cs-connect-timeout","displayName":"Connect timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-socket-timeout":{"name":"el-cs-socket-timeout","displayName":"Read timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-ssl-context-service":{"name":"el-cs-ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.elasticsearch.ElasticSearchClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-client-service-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fff20ab6-d810-30f1-ad97-fc1e10f4fdd5"},{"identifier":"8033ba0f-8370-37a0-b36e-c0ac761bd7c1","instanceIdentifier":"0ca7e0a9-0192-1000-ad3e-973c29e93822","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fff20ab6-d810-30f1-ad97-fc1e10f4fdd5"},{"identifier":"794d8dc2-842c-3f2c-86a7-bccec00c12c8","instanceIdentifier":"0ca86ec4-0192-1000-8b40-d704cd292019","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fff20ab6-d810-30f1-ad97-fc1e10f4fdd5"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}